---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BRF Slipen 40">
  <main>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid deleniti
    quos beatae ut similique nesciunt error. Maiores eveniet molestias,
    repellendus eligendi odit deserunt velit quae magnam perspiciatis illo ex
    laboriosam!u
  </main>
</Layout>
