---
import MainLayout from "../layouts/MainLayout.astro";

const about = [
  {
    name: "Slipen 40",
  },
];
---

<MainLayout title="Slipen 40 | Om föreningen">
  <h1>Om föreningen</h1>
  <hr />
  <p class="max-w-prose">
    Slipen 40 är en äkta förening med engagerade medlemmar sen många år
    tillbaka. Föreningen förvärade av Stockholmshem och äger fastigheten sedan
    år 2000.
  </p>

  <table class="table-auto border-separate border-spacing-1 border-slate-500">
    <thead>
      <tr>
        <th> Om föreningen </th>
      </tr>
    </thead>

    <tbody>
      <tr></tr>
    </tbody>
  </table>
</MainLayout>
