@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  body {
    background-color: #fbfaf2;
    color: #212427;
  }

  a {
    @apply text-sky-600 underline;
  }

  h1 {
    @apply mb-2 text-3xl;
  }

  h2 {
    @apply mb-2 text-2xl;
  }
}

@layer components {
}

@layer utilities {
  .stack {
    @apply flex flex-col;
  }
}
