---

---

<footer class="bg-neutral-700 text-white">
  <div class="stack items-center">
    <div class="max-w-screen-2xl p-4">
      <p>BRF Slipen 40, Slipgatan 2, 117 39 Stockholm</p>
    </div>
  </div>
</footer>
