---
interface Props {
  class?: string;
}

type RouteDefinition = {
  link: string;
  name: string;
};

const routeDefinitions: RouteDefinition[] = [
  {
    link: "/",
    name: "BRF Slipen 40",
  },
  {
    link: "/info",
    name: "Information",
  },
  {
    link: "/contact",
    name: "Kontakt",
  },
];

const selectedPageClass = "rounded-sm text-gray-800  bg-teal-800 text-white";
---

<header class={`bg-teal-300 ${Astro.props.class}`}>
  <nav class="mx-auto flex w-2/3 max-w-screen-2xl">
    {
      routeDefinitions.map((route) => (
        <a
          href={route.link}
          class={`p-2 hover:bg-teal-800 hover:text-white ${Astro.url.pathname === route.link ? selectedPageClass : ""}`}
        >
          {route.name}
        </a>
      ))
    }
  </nav>
</header>
